*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: palegoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.outer{
    height: 90vh;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}

h1{
    text-transform: uppercase;

}


.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.question{
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
}

.answer{
    height: 380px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 50px;
    font-size: 20px;
}

.answer p{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 10px;
}

button{
    font-size: 15px;
    padding: 5px 15px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.3s ease-out 0.12s;
    cursor: pointer;
}

#start{
    color: white;
    background-color: green;
}
#start:hover{
    color: green;
    background-color: white;
}

#reset{
    color: white;
    background-color: red;
}

#reset:hover{
    color: red;
    background-color: white;
}

#skip{
    color: red;
    background-color: yellow;
}

#skip:hover{
    color: yellow;
    background-color: red;
}

#show{
    color: rgb(0, 0, 0);
    background-color: rgb(62, 211, 99);
}

#show:hover{
    color: gray;
    background-color: white;
}

#next{
    color: white;
    background-color: blue;
}

#next:hover{
    color: blue;
    background-color: white;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.header p{
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 5px;
}

#score{
    padding: 0 5px;
    color: green;
    font-size: 20px;
    font-weight: 500;
}

input{
    padding: 5px 10px;
}